h1, p {
  font-family: Lato;
}

.page-center-frame {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#form {
  position: fixed;
  left: 40%;
  bottom: 230px;
}
