.counter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 40px;
  text-align: center;
  margin: 10px;
  background-color: lightgray;
  border-radius: 5px;
}

.counter .count {
  text-align: center;
  background-color: white;
  padding: 7px 14px;
  border-radius: 4px;
  margin: 15px;
}

.counter button {
  border-radius: 6px;
  font-size: 30px;
  margin: 15px;
}